@import "../../../../assets/styles/variables.scss";

/* timeline class start */

.histort-timeline .activeTimeline {
    list-style: none;
}

.histort-timeline .timeline-date {
    font-weight: 500;
    color: #5d5b6f;
    float: left;
    margin-top: 20px;
}
.histort-timeline .activeTimeline > li .histort-content {
    padding-bottom: 30px;
}
.histort-timeline .activeTimeline {
    list-style: none;
}

.histort-timeline .activeTimeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.histort-timeline .activeTimeline {
    list-style: none;
}
.histort-timeline .histort-content {
    float: left;
    border-left: 3px solid rgba(0, 188, 212, 0.1);
    padding-left: 28px;
}
.histort-timeline .histort-content .track-info {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
}
.histort-timeline .histort-content:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #00bcd4;
    border: 4px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 1.25px #00bcd4;
    box-shadow: 0px 0px 0px 1.25px #00bcd4;
    position: absolute;
    border-radius: 100%;
}

.histort-timeline .histort-content::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #f2f2f2;
}

.histort-timeline .histort-content .track-info h5 {
    font-size: 16px;
    color: #5d5b6f;
    font-weight: 600;
    margin: 0px;
}
.pClass {
    color: #212529;
    line-height: 1.6;
    font-size: 13px;
}
/* timeline class end */

.dashboard_tile {
    width: 88%;
    margin: 0px auto;
}
.borderB {
    border-bottom: 1px solid #ddd;
    padding: 7px 0px;
}

:host::ng-deep {
    .p-tabview .p-tabview-panels {
        padding: 0.5rem;
    }

    //geo location address control
    .pac-target-input {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #495057;
        background: #ffffff;
        padding: 0.5rem 0.5rem;
        border: 1px solid #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 3px;
        width: 100%;
        &:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0px 0px 0px 0rem #a6d5fa;
        }
    }

    .claimWorkflow {
        .p-card .p-card-content {
            padding: 0px;
            min-height: 200px;
        }

        .activityHistory {
            .p-accordion-header-link {
                width: 150px;
                height: auto;
                border-radius: 3px;
                padding: 13px 12px !important;
                font-size: $f13;
                background-color: $marinbtn;
                color: $whitecolor;
                top: 10px;
                left: 10px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .p-accordion-header {
                width: 150px;
            }

            .p-accordion .p-accordion-content {
                color: $menu_highlight;
                border: 0px solid $marinbtnhover;
                font-weight: 500;
                padding: 20px;
                width: 100%;
            }
        }
    }
}

:host::ng-deep {
    .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
        display: none;
    }
    .p-accordion .p-accordion-header .p-accordion-header-link {
        background-color: $whitecolor;
        color: $brand_clr3;
        border: 1px solid $brand_clr3;
    }

    .p-accordion .p-accordion-content {
        color: $menu_highlight;
        border: 0px solid $marinbtnhover;
        font-weight: 500;
        padding: 0px;
    }
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
        background-color: $brand_clr3;
        color: $whitecolor;
    }
    .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
        background-color: $brand_clr3;
        color: $whitecolor;
    }
    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0px 0px 0px 0rem #a6d5fa;
    }

    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        border-color: $brand_clr3;
        background: $brand_clr3;
        color: $whitecolor;
    }
    .p-tabview.p-component {
        border: 5px solid #f8f9fa;
    }

    .p-tabview .p-tabview-panels {
        background: #f8f9fa;
    }
}

.c-progress-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.c-progress-steps li.done {
    color: #1ecab8;
    border-bottom-color: #1ecab8;
}

.c-progress-steps li {
    display: table-cell;
    text-align: center;
    padding: 0;
    padding-bottom: 18px;
    white-space: nowrap;
    position: relative;
    margin: 20px 0px 40px 0px;
    border-left-width: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #ced4da;
    font-size: 18px;
    color: #ced4da;
    min-width: 300px;
    width: 33%;
}
.c-progress-steps li.done:before {
    // color: #1ecab8;
    content: url(./../../../../assets/images/stepper/done.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    //  border: 2px solid #1ecab8;
}

.c-progress-steps li:before {
    position: absolute;
    left: 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #ffffff;
    content: url(./../../../../assets/images/stepper/next.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    // border: 2px solid #ced4da;
    bottom: -15px;
    left: 50%;
    margin-left: -16px;
}

.c-progress-steps li.current {
    color: #fbb624;
    border-bottom-color: #fbb624;
}
.c-progress-steps li.current:before {
    content: url(./../../../../assets/images/stepper/current.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

@media (min-width: 320px) {
    .cardWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    /*  Active timeline start */
    .histort-timeline .timeline-date {
        width: 110px;
    }
    .histort-timeline .histort-content:before {
        left: 105px;
        top: 24px;
    }

    .histort-timeline .histort-content::after {
        top: 18px;
        left: 30%;
    }
    .histort-timeline .histort-content {
        width: 54%;
    }
    /*  Active timeline end */
    .m-t-155 {
        margin-top: 100px;
    }
    :host::ng-deep {
        .dataFilter {
            .p-accordion-header-link {
                width: 100px;
                height: auto;
                border-radius: 3px;
                padding: 8px 12px !important;
                font-size: $f13;
                background-color: $whitecolor;
                color: $marinbtn;
                top: 9px;
                left: -5px;
            }
            .p-accordion-header {
                width: 100px;
            }
        }

        .uploadDocumentsFilter {
            .p-accordion-header-link {
                width: 150px;
                height: auto;
                border-radius: 3px;
                padding: 8px 12px !important;
                font-size: $f13;
                background-color: $whitecolor;
                color: $marinbtn;
                top: 110px;
                left: -5px;
            }
            .p-accordion-header {
                width: 150px;
            }
        }
    }
    .downloadposs {
        position: absolute;
        left: 110px;
        font-size: $f13;
        top: -7px;
    }

    .rejectedPoss {
        position: absolute;
        left: 0px;
        font-size: $f13;
        top: 5px;
    }
    .rejectedFont {
        font-size: $f13;
        margin-bottom: 8px;
    }
    /* .requestedPos {
        position: absolute;
        left: 0px;
        font-size: $f13;
        top: 15px;
    } */
}
@media (min-width: 360px) {
}
@media (min-width: 375px) {
    :host::ng-deep {
        .uploadDocumentsFilter {
            .p-accordion-header-link {
                width: 150px;
                height: auto;
                border-radius: 3px;
                padding: 8px 12px !important;
                font-size: $f13;
                background-color: $whitecolor;
                color: $marinbtn;
                top: 80px;
                left: -5px;
            }
            .p-accordion-header {
                width: 150px;
            }
        }
    }
}
@media (min-width: 414px) {
}
@media (min-width: 480px) {
}
@media (min-width: 568px) {
    /*  Active timeline start */
    .histort-timeline .timeline-date {
        width: 110px;
    }
    .histort-timeline .histort-content:before {
        left: 105px;
        top: 24px;
    }

    .histort-timeline .histort-content::after {
        top: 18px;
        left: 35%;
    }
    .histort-timeline .histort-content {
        width: 70%;
    }
    /*  Active timeline end */

    .m-t-155 {
        margin-top: 20px;
    }
    :host::ng-deep {
        .uploadDocumentsFilter {
            .p-accordion-header-link {
                width: 150px;
                height: auto;
                border-radius: 3px;
                padding: 8px 12px !important;
                font-size: $f13;
                background-color: $whitecolor;
                color: $marinbtn;
                top: 15px;
                left: -18px;
            }
            .p-accordion-header {
                width: 185px;
            }
        }
    }
    .rejectedPoss {
        position: absolute;
        left: 147px;
        font-size: $f13;
        top: 24px;
    }

    /* .requestedPos {
        position: absolute;
        left: 152px;
        font-size: $f13;
        top: 0px;
    } */
}
@media (min-width: 640px) {
    /*  Active timeline start */
    .histort-timeline .timeline-date {
        width: 110px;
    }
    .histort-timeline .histort-content:before {
        left: 105px;
        top: 24px;
    }

    .histort-timeline .histort-content::after {
        top: 18px;
        left: 30%;
    }
    .histort-timeline .histort-content {
        width: 54%;
    }
    /*  Active timeline end */

    :host::ng-deep {
        .uploadDocumentsFilter {
            .p-accordion-header-link {
                width: 145px;
                height: auto;
                border-radius: 3px;
                padding: 8px 12px !important;
                font-size: $f13;
                background-color: $whitecolor;
                color: $marinbtn;
                top: -8px;
                left: -5px;
            }
            .p-accordion-header {
                width: 185px;
            }
        }
    }
    .rejectedPoss {
        position: absolute;
        left: 155px;
        font-size: $f13;
        top: 0px;
    }
    /*  .requestedPos {
        position: absolute;
        left: 152px;
        font-size: $f13;
        top: 0px;
    } */
}
@media (min-width: 667px) {
    .histort-timeline .histort-content::after {
        top: 18px;
        left: 28%;
    }
}

@media (min-width: 736px) {
    .histort-timeline .histort-content::after {
        top: 18px;
        left: 25%;
    }
}
@media (min-width: 768px) {
    .histort-timeline .histort-content::after {
        top: 18px;
        left: 24%;
    }
    .cardWrapper::ng-deep {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;

        .p-card {
            width: 98%;
            margin: 0px auto 20px auto;
        }
        .p-card .p-card-body {
            padding: 0.5rem;
        }
    }
    .ctrlSection {
        min-height: 150px;
        //overflow-y: auto;
    }
}
@media (min-width: 769px) {
}
@media (min-width: 991px) {
}
@media (min-width: 1024px) {
    .histort-timeline .histort-content::after {
        top: 18px;
        left: 17%;
    }
}
@media (min-width: 1200px) {
    /*  Active timeline start */
    .histort-timeline .timeline-date {
        width: 150px;
    }
    .histort-timeline .histort-content:before {
        left: 145px;
        top: 24px;
    }

    .histort-timeline .histort-content::after {
        top: 18px;
        left: 16.2%;
    }
    .histort-timeline .histort-content {
        width: 35%;
    }
    /*  Active timeline end */
}
@media (min-width: 1366px) {
    .cardWrapper {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .m-t-155 {
        margin-top: 0px;
    }
    :host::ng-deep {
        .dataFilter {
            .p-accordion-header-link {
                width: 134px;
                height: auto;
                border-radius: 3px;
                padding: 9px 12px !important;
                font-size: $f18;
                background-color: $whitecolor;
                color: $marinbtn;
                top: 16px;
            }
            .p-accordion-header {
                width: 134px;
            }
        }

        .uploadDocumentsFilter {
            .p-accordion-header-link {
                width: 185px;
                height: auto;
                border-radius: 3px;
                padding: 9px 12px !important;
                font-size: $f18;
                background-color: $whitecolor;
                color: $marinbtn;
                top: -8px;
                left: -5px;
            }
            .p-accordion-header {
                width: 185px;
            }
        }
    }
    .rejectedPoss {
        position: absolute;
        left: 197px;
        font-size: $f18;
        top: 0px;
    }
    .rejectedFont {
        font-size: $f18;
    }
    /*  .requestedPos {
        position: absolute;
        left: 195px;
        font-size: $f18;
        top: 0px;
    } */

    .downloadposs {
        left: 150px;
        padding: 6px 12px;
        font-size: $f18;
        top: 0px;
    }
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
    .cardWrapper {      
       width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
    }
}
@media (min-width: 1920px) {
}
