@import "../../../../assets/styles/variables.scss";

@media (min-width: 320px) {
    .popupviewClaim::ng-deep{
        .p-dialog{
            width: 300px;
        }
    }

    :host::ng-deep{        
            .p-accordion-header-link{
                width:100px; 
                padding: 7px 12px !important;
                font-size: $f13;      
                top:60px;
                left: 2px;
                position: absolute;
                }
                .p-accordion-header{
                    width:100px; 
                }
            }
        
        .addposs{
            position: relative;
            left:-5px;
            font-size: $f13;
            top: 0px;
        }
        .downloadposs{
            position: relative;
            left:102px;
            font-size: $f13;
            top: 7px;
        }
}
@media (min-width: 360px) {


    :host::ng-deep{        
        .p-card .p-card-body{
            padding-bottom: 50px;
        }
        }


    :host::ng-deep{        
        .p-accordion-header-link{              
            top:60px;
            left: 3px;
            position: absolute;
            }
            .p-accordion-header{
                width:100px; 
            }
        }

        .addposs{
            position: relative;
            left:-5px;
            font-size: $f13;
            top: 0px;
        }

      
}
@media (min-width: 375px) {
    .popupviewClaim::ng-deep{
        .p-dialog{
            width:350px;
        }
    }
}
@media (min-width: 411px) {

    :host::ng-deep{        
        .p-accordion-header-link{              
            top:60px;
            left: 3px;
            position: absolute;
            }
            .p-accordion-header{
                width:100px; 
            }
        }

        .addposs{
            position: relative;
            left:-5px;
            font-size: $f13;
            top: 0px;
        }

        .downloadposs{
            position: relative;
            left:0px;
            font-size: $f13;
            top: 0px;
        }
   
}
@media (min-width: 480px) {}
@media (min-width: 568px) {
    :host::ng-deep{        
        .p-card .p-card-body{
            padding-bottom: 0px;
        }
        }
    :host::ng-deep{        
        .p-accordion-header-link{              
            top: 24px;
            left: 158px;
            position: absolute;
            }
            .p-accordion-header{
                width:100px; 
            }
        }
        .addposs{
            position: relative;
            left:-5px;
            font-size: $f13;
            top: 0px;
        }
        .downloadposs{
            position: relative;
            left:102px;
            font-size: $f13;
            top: 0px;
        }  
}
@media (min-width: 640px) {}
@media (min-width: 667px) {}
@media (min-width: 736px) {
    .popupviewClaim::ng-deep{
        .p-dialog{
            width: 450px;
        }
    }
}
@media (min-width: 768px) {}
@media (min-width: 769px) {}
@media (min-width: 991px) {}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1366px) {

    :host::ng-deep{
        .p-accordion-header-link{
            width:126px; 
            padding: 9px 12px !important;
            font-size: $f18;      
            top: 23px;
          left: 210px;

            }

            .p-accordion-header{
                width:126px; 
            }
        } 

        .addposs{
            position: relative;
            left:0px;
            font-size: $f18;
            top: 0px;
            margin-bottom: 0px;
        }
        .downloadposs{
            position: relative;
        left:132px;
        font-size: $f18;
        top: 0px;
        margin-bottom: 0px;
        }
}
@media (min-width: 1440px) {}
@media (min-width: 1600px) {}
@media (min-width: 1920px) {}
